body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.input-box, .output-box {
  margin-top: 20px;
  overflow: auto;
  padding: 10px;
  resize: vertical;
}

.valid {
  border-bottom: 1px solid #0C0;
  box-shadow: 0 1px 0 0 #0C0;
}

.invalid {
  border-bottom: 1px solid #D00;
  box-shadow: 0 1px 0 0 #D00;
}